<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

  <body>
    <form>
      <label for="name">Vārds</label>
      <input type="text" id="name" name="name"><br>
      <label for="email">E-pasts</label>
      <input type="email" id="email" name="email"><br>
      <label for="phone">Tālrunis</label>
      <input type="tel" id="phone" name="phone"><br>
      <label for="message">Ziņa</label>
      <textarea id="message" name="message"></textarea><br>
      <input type="submit" id="button" name="button">
    </form>
    <br>
    <a href="/">Atgriezties</a>
  </body>
</html>