<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <h1>Konvertors</h1>
  <p>Pārveido no collām uz centimetriem.</p>
  <p>Ievadiet vērtību collās:</p> 
    <section id="konvertors">
      <input type="number" id="collas"><br><br>
      <button class="btn btn-danger" onclick="parveidot()">Pārveidot</button>
      <p id="centimetri">Centimetros tas ir:</p>
    </section>
  <br><br>
  <a href="/">Atgriezties</a>
  <script src="/public/script.js"></script>
</body>

</html>