<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Pamati sintakse</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h1>Pamati sintakse</h1>
    <nav>
      <ul>
        <li><a href="/sveiciens">Sveika pasaule!:</a></li>
        <li><a href="/mainigie">Mainīgie:</a></li>
        <li><a href="/datu_tipi">Datu tipi:</a></li>
        <li><a href="/operatori">Operatori:</a></li>
        <li><a href="/kontroles_strukturas">Kontroles struktūras:</a></li>
        <li><a href="/funkcijas">Funkcijas:</a></li>
        <li><a href="/ievade_izvade">Ievade un izvade:</a></li>
        <li><a href="/failu_apstrade">Failu apstrāde:</a></li>
        <li><a href="/oop">Objektorientēta programmēšana:</a></li>
        <li><a href="/moduli">Moduļi:</a></li>
      </ul>
    </nav>
  {% block content %}{%endblock %}
</body>
</html>